<div class="main">

  <div class="main__header">
      <% if user_signed_in? %>
      <%= link_to "登録", new_event_path, class: "header__right--btn" %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn" %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: "header__right--btn" %>
      <%= link_to "新規登録", new_user_registration_path, class: "header__right--btn" %>
    <% end %>
    <a href="#" class="main__header--register">登録</a>
    </div>

  <div class="calendar" id="calendar"></div>

  <div class="main__futer">
    <div class="main__futer__send">
      <p>収入</p>  
      <a href="#" class="main__futer__send--sum1"> 円</a>
    </div>
    <div class="main__futer__income">
      <p>支出</p> 
      <a href="#" class="main__futer__income--sum2"> 円</a>
    </div>
    <div class="main__futer__month">
      <p>月 合計</p>
      <a href="#" class="main__futer__month--sum3"> 円</a>
    </div>
  </div>
</div>