<div class="details">
  <div class="details__month">
  </div>
  <div class="details__main">
    <div class="details__main__heder">
    </div>
    <div class="details__main__content">
    <%# <% @income.each do |i|%> %>
      <%# <div class="i"> %>
        <%# <%= i.income %>  %>
      <%# </div> %>
      <%# <div class="i"> %>
        <%# <%= i.day %>  %>
      <%# </div> %>
      <%# <div class="i"> %>
        <%# <%= i.content %>  %>
      <%# </div> %>
    <%# <%end %> %>
    </div>
  </div>
</div>