<div class="details">
  <div class="details__month">
  </div>
  <div class="details__main">
    <div class="details__main__heder">
    </div>
    <div class="details__main__content">
    <% @income.each do |income|%>
      <%= income%>
    <% end %>
    </div>
  </div>
</div>