$futer-size: 30px;
.main {
  height: 100%;
  width: 100%;

  &__header{
    height: 50px;
    width: 100vw;
    background-color: red;
    display: flex;
    .header__right--btn{
      height: 40px;
      width: 100px;
      font-size: 20px;
      margin-top: 5px;
      margin-left: 20px;
      background-color: purple;
      display: block;
    }
    &--register{
      height: 40px;
      width: 100px;
      background-color: grey;
      float: right;
      margin-top: 5px;
      margin-right: 20px;
      font-size: 20px;
      margin-left:auto;
    }
  }
  &__futer{
    height: 200px;
    width: 100vw;
    background-color: green;
    display: flex;
    justify-content: space-around;
    &__send{
      height: 150px;
      width: 300px;
      background-color: white;
      margin-top: 20px;
      p{
        font-size: $futer-size;
        text-align:center;
      }
      &--sum1{
        height: 80px;
        width: 250px;
        background-color: yellow;
        display: block;
        margin-left: 20px;
      }
    }
    &__income{
      height: 150px;
      width: 300px;
      background-color: white;
      margin-top: 20px;
      p{
        font-size: $futer-size;
        text-align:center;
      }
      &--sum2{
        height: 80px;
        width: 250px;
        background-color: yellow;
        display: block;
        margin-left: 20px;
      }
    }
    &__month{
      height: 150px;
      width: 300px;
      background-color: white;
      margin-top: 20px;
      p{
        font-size: $futer-size;
        text-align:center;
      }
      &--sum3{
        height: 80px;
        width: 250px;
        background-color: yellow;
        display: block;
        margin-left: 20px;
      }
    }
  }
}