.register{
  height: 700px;
  width: 500px;
  margin: auto;
  .register__heder{
    display: flex;
    .back{
      display: block;
      width: 50px;
    }
    p{
      width: 450px;
      text-align: center;
    }
  }
  &__income{
    height: 300px;
    width: 500px;
    &__price{
      height: 100px;
      width: 500px;
      background-color: red;
    }
    &__day{
      height: 100px;
      width: 500px;
      background-color: grey;
    }
    &__content{
      height: 100px;
      width: 500px;
      background-color: blue;
    }
  }
  &__spend{
    height: 300px;
    width: 500px;
    &__price{
      height: 100px;
      width: 500px;
      background-color: yellow;
    }
    &__day{
      height: 100px;
      width: 500px;
      background-color: purple;
    }
    &__content{
      height: 100px;
      width: 500px;
      background-color: orange;
    }
  }
}