.show{
  .now{
    height: 30px;
    width: 200px;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 24px;
  }
  .show-box{
    display: flex;
    justify-content: center;
    &__pieces{
      background-color: whitesmoke;
      overflow: auto;
      width: 300px;
      height: 500px;
      margin: auto ;
      padding: 10px 0 0 30px;
      font-size: 20px;
      border-top: solid 6px #1dc1d6;
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
      
      .edit_delete{
        display: inline;
        width: 50px;
        margin: 8px;
        font-size: 14px;
      }
      .category{
        display: inline;
        padding: 8px 25px;
      }
      .content{
        display: inline;
      }
      .price{
        display: inline;
        float: right;
        padding-right: 20px;
      }
    }
  }
}

.back{
  width: 100px;
  color: black;
  text-decoration : none;
}
